{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}

    {% block bg %}
    {{ super() }}
    {% endblock %}
    
        <div class="text-center">
            <h1 class="text-4xl mb-8">\ THANK YOU /</h1>
            <h1 class="sub-subtitle mb-4">feel free to contact me</h1>
            <h1 class="sub-subtitle mb-2">&copy; 2021 Japanese City Pop</h1>
            <h1 class="sub-subtitle text-yellow-300 mb-8">
                <small><a href="https://ayumitanaka.net">Ayumi Tanaka</a></small>
            </h1>
            <div class="flex justify-center">
                <img src="/static/image/dance.png" class="w-1/4" alt="dance">
            </div>
        </div>
    </div>
</div>

{% endblock %}