{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}

    {% block bg %}
    {{ super() }}
    {% endblock %}
    
        <div class="text-center">
            <h1 class="text-4xl mb-8">THANK YOU</h1>
            <h1 class="sub-subtitle font-normal mb-4">feel free to contact me</h1>
            <h1 class="sub-subtitle mb-8">
                <small>
                    &copy; 2021 ✨ <a href="https://ayumitanaka.net">Ayumi Tanaka</a>
                    <br>All Rights Reserved
                </small>
            </h1>
            <div class="w-full flex justify-center ">
                <div class="w-1/2 sm:w-1/4">
                    <img src="/static/image/dance.png" class="border" alt="dance">
                    <!-- <img src="/static/image/dance.png" class="h-32 lg:h-40 w-auto" alt="dance"> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}