{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}
    <div class="bg-style" style="background-image: linear-gradient(135deg, rgba(255, 147, 205, 0.3), rgba(61, 186, 244, 0.3)), url(/static/image/neon5.jpeg)">
        <div class="text-center">
            <h1 class="text-4xl mb-8">\ THANK YOU /</h1>
            <h1 class="text-xl sm:text-2xl mb-4">feel free to contact me</h1>
            <h1 class="text-xl sm:text-2xl mb-8">&copy; 2021 <a href="https://ayumitanaka.net">Ayumi Tanaka</a></h1>
            <div class="flex justify-center">
                <img src="/static/image/dance.png" class="w-1/4" alt="dance">
            </div>
        </div>
    </div>
</div>

{% endblock %}