{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}

    {% block bg %}
    {{ super() }}
    {% endblock %}
    
        <div class="user-style">
            {% if current_user.is_authenticated %}
            <h1 class="subtitle">Hello, {{current_user.username}}</h1>
            <div class="white-style">
                <div class="w-full text-center">
                    <h6>
                        Your Profile
                    </h6>
                    <div class="user-icon-style">
                        <div class="icon-size">
                            {% if current_user.picture_path %}
                            <img src="{{current_user.picture_path}}" class="icon-style border-4">
                            <!-- <img src="{{ url_for('static', filename=current_user.picture_path) }}" class="icon-style border-4"> -->
                            <!-- <img src="response.location, 'https://www.linkedin.com/in/zeinab-abbasimazar-0327aa47" class="icon-style border-4"> -->
                            {% else %}
                            <img src="/static/image/logoa.jpg" class="icon-style border-4">
                            {% endif %}
                        </div>
                    </div>

                    <form method="POST" enctype="multipart/form-data" class="user-form">
                        {{form.csrf_token}}
                        <div class="flex">
                            <h6 class="w-full pr-0 md:pr-2">
                                {{render_field(form.picture_path, class="h-full input-form", placeholder="Upload your icon")}}
                            </h6>
                            <h6>
                                {{form.submit(class="h-full btn-blue")}}
                            </h6>
                        </div>
                    </form>
                    
                    <h6 class="mt-8 lg:mt-16">
                        Your Favorite Albums
                    </h6>
                    <div class="wrap-style">                 
                    {% set isLiked = {'isLiked':False} %}
                    {% for like_album in like_albums %}
                        {% for album in albums %}
                        {% if like_album.from_user_id == current_user.id and like_album.to_album_id == album.id %}
                        <div class="img-size">
                            <a href="{{ url_for('history.history', _anchor=album.name) }}">
                                <img src="{{ url_for('static', filename=album.album_picture_path) }}" class="transform-scale shadow-lg">
                            </a>
                            <p class="small font-semibold mt-2">{{ album.name }}</p>
                            <p class="small mt-1">{{ album.title }}</p>
                        </div>
                        {% if isLiked.update({'isLiked':True}) %}{% endif %}
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if not isLiked.isLiked %}  
                        <p class="mt-2">
                            Save your favs here!
                        </p>
                    {% endif %}
                    </div>

                    <h6 class="mt-8 lg:mt-16">
                        Your Favorite Songs
                    </h6>
                    <div class="wrap-style">
                    {% set isLiked = {'isLiked':False} %}
                    {% for like_song in like_songs %}
                        {% for artist in artists %}
                        {% if like_song.from_user_id == current_user.id and like_song.to_artist_id == artist.id %}
                        <div class="img-size">
                            <a href="{{ url_for('artist.artist', _anchor=artist.name) }}">
                                <img src="{{ url_for('static', filename=artist.song_picture_path) }}" class="transform-scale shadow-lg">
                            </a>
                            <p class="small font-semibold mt-2">{{ artist.name }}</p>
                            <p class="small mt-1">{{ artist.title }}</p>
                        </div>
                        {% if isLiked.update({'isLiked':True}) %}{% endif %}
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if not isLiked.isLiked %}  
                        <p class="mt-2">
                            Save your favs here!
                        </p>
                    {% endif %}    
                    </div>
                </div>
            </div>
            {% else %}
            <p>Login or Sign up</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}