{% extends "/base.html" %}
{% block content %}
<div class="h-screen w-screen p-8 md:p-12 md:py-20 xl:p-20 box">
    <div class="h-full w-full flex items-center justify-center bg-cover bg-center bg-no-repeat shadow-lg rounded-lg" style="background-image: linear-gradient(135deg, rgba(255, 147, 205, 0.3), rgba(61, 186, 244, 0.3)), url(/static/image/neon5.jpeg)">
        <div class="w-4/5 xl:w-1/2 box">
            {% if current_user.is_authenticated %}
            <h1 class="text-7xl 2xl:text-8xl text-center font-black box animate-pulse">Hello, {{current_user.username}}</h1>
            {% else %}
            <p>Sign in or Sign up</p>
            {% endif %}
            <div class="flex w-full items-center justify-center bg-white bg-opacity-40 rounded shadow-xl mt-8 py-8 2xl:py-16">
                <div class="text-center box">
                    <h4 class="text-lg sm:text-xl 2xl:text-3xl">
                        Your image
                    </h4>
                    <div class="flex justify-center mt-4">
                        <img src="/static/image/icon1.jpg" class="w-1/6 rounded-full">
                    </div>
                    <h4 class="text-lg sm:text-xl 2xl:text-3xl mt-4">
                        Your email<br>{{current_user.email}}
                    </h4>
                    <h4 class="text-lg sm:text-xl 2xl:text-3xl mt-4">
                        Your Favorites
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}