{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

{% block header2 %}
{{ super() }}
{% endblock %}

{% for artist in artists %}
<div class="artists-style" id="{{ artist.name }}">
    <!-- singer -->
    <div class="artist-style">
        <!-- singer name -->
        <div class="artist-h-20">
            <div class="artist-grid-col-5">
                <div class="artist-col-1 lg:p-2">
                    <img src="{{ url_for('static', filename=artist.artist_picture_path) }}" class="w-full icon-style">
                </div>
                <div class="artist-col-4">
                    <div class="pl-2 sm:pl-4 2xl:pl-8">
                        <h3 class="font-semibold">
                            {{ artist.name }}
                        </h3>
                        <h3 class="mt-1 md:mt-2">
                            <small>{{ artist.name_j }}</small>
                        </h3>
                    </div>
                </div>       
            </div>
        </div>
        <!-- singer desc -->
        <div class="artist-h-20 px-2">
            <p>
                {{ artist.artist_info }}
            </p>
        </div>
        <!-- comments -->
        <div class="artist-h-40 px-2">
            <div class="h-full w-full overflow-scroll">
                <div class="h-1/2 sm:h-1/3 box">         
                    {% set isCommented = {'isCommented':False} %}
                    {% for comment in comments %}      
                        {% if artist.id == comment.to_artist_id %}
                        <div class="artist-col-9 overflow-scroll">
                            {% for user in users %}
                            {% if comment.from_user_id == user.id %}
                            <div class="artist-col-2 p-0 xl:p-1">
                                {% if user.picture_path %}
                                <img src="{{ url_for('static', filename=user.picture_path) }}" class="icon-style">
                                {% else %}
                                <img src="/static/image/logoa.jpg" class="icon-style">
                                {% endif %}                                
                            </div>
                            <div class="artist-col-7">
                                <div class="comment-style">
                                    <p class="font-semibold">
                                        @{{ user.username}}
                                    </p>
                                    <p><small>{{ comment.comment }}</small></p>
                                    <!-- <p class="text-xs sm:text-sm lg:text-xs xl:text-sm 2xl:text-lg font-semibold">
                                        @{{ user.username}}
                                    </p>
                                    <p class="text-xs sm:text-sm lg:text-xs xl:text-sm 2xl:text-base">{{ comment.comment }}</p> -->
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>                        
                        {% if isCommented.update({'isCommented':True}) %}{% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if not isCommented.isCommented %}                
                    <h6>There's no comment yet.</h5>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- add comment -->
        <div class="artist-h-20 px-2">
            <div class="artist-grid-col-9">
                {% if current_user.is_authenticated %}
                <div class="artist-col-2 p-0 xl:p-1">
                    {% if current_user.picture_path %}
                    <img src="{{ url_for('static', filename=current_user.picture_path) }}" class="icon-style">
                    {% else %}
                    <img src="/static/image/logoa.jpg" class="icon-style">
                    {% endif %}
                </div>
                <div class="artist-col-7">
                    <form method="POST" class="w-full mx-2 sm:mx-4 2xl:mx-8">
                        {{form_c.csrf_token}}
                        {{ form_c.to_artist_id(value=artist.id) }}
                        <h6>
                            {{render_field(form_c.comment, rows="2", class="add-comment-style")}}
                        </h6>
                        <h6 class="mt-1 sm:mt-2">
                            {{form_c.submit(class="btn-blue")}}
                        </h6>
                    </form>
                </div>
                {% else %}
                <div class="artist-col-1 p-0 xl:p-1">
                    <img src="/static/image/logoa.jpg" class="icon-style">
                </div>
                <div class="artist-col-8">
                    <p>
                        <a href="{{ url_for('signup.signup') }}">
                            <button class="btn-blue">
                                ♡ You can add comments after you sign up!
                            </button>
                        </a>
                    </p>
                </div>
                {% endif %}                
            </div>
        </div>
    </div>

    <!-- song -->
    <div class="artist-style">
        <!-- song title -->
        <div class="artist-h-20">
            <div class="artist-grid-col-5">
                <div class="artist-col-1 lg:p-2">
                    <img src="{{ url_for('static', filename=artist.song_picture_path) }}" alt="" class="w-full shadow">
                </div>
                <div class="artist-col-4">
                    <div class="pl-2 sm:pl-4 2xl:pl-8">
                        <h4>
                            <i class="fas fa-compact-disc mr-2"></i>{{ artist.year }} {{ artist.title }}
                        </h4>
                        <h4 class="mt-0 sm:mt-2">
                            <small>{{ artist.title_j }}</small>
                        </h4>
                        {% if current_user.is_authenticated %}
                        <form method="POST" class="mt-2">
                            {{ form.csrf_token }}
                            {{ form.from_user_id(value=current_user.id) }}
                            {{ form.to_artist_id(value=artist.id) }}
                            {% set isLiked = {'isLiked':False} %}
                            {% for like_song in like_songs %}
                                {% if like_song.from_user_id == current_user.id and like_song.to_artist_id == artist.id %}
                                <h5>
                                    {{ form.submit(value="♥ Liked", class="btn-pink") }}
                                </h5>                                    
                                {% if isLiked.update({'isLiked':True}) %}{% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if not isLiked.isLiked %}  
                                <h5>
                                    {{ form.submit(class="btn-transparent") }}
                                </h5>
                            {% endif %}
                        </form>
                        {% else %}
                        <p class="mt-0 sm:mt-2">
                            <a href="{{ url_for('signup.signup') }}">
                                <button class="btn-blue">
                                    ♡ You can save your favorites after you sign up!
                                </button>
                            </a>
                        </p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <!-- song youtube -->
        <div class="youtube-style">
            <iframe class="youtube" src="{{ artist.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- song desc -->
        <div class="song-style">
            <p>{{ artist.song_info }}</p>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}