{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}
    <div class="bg-style" style="background-image: linear-gradient(135deg, rgba(255, 147, 205, 0.3), rgba(61, 186, 244, 0.3)), url(/static/image/neon5.jpeg)">
        <div class="w-4/5 xl:w-1/2 2xl:w-1/3">
            <h1 class="subtitle">Login</h1>
            <div class="white-style">
                <form method="POST" class="w-3/4 sm:w-2/3 text-white">
                    {{form.csrf_token}}
                    <h6>
                        {{render_field(form.email, class="input-form")}}
                    </h6>
                    <h6 class="mt-2 lg:mt-4">
                        {{render_field(form.password, class="input-form")}}
                    </h6>
                    <h6 class="mt-4 lg:mt-8">
                        {{form.submit(class="btn-blue")}}
                    </h6>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}