{% extends "/base.html" %}
{% block content %}

<header class="px-8 md:px-12 xl:px-20" id="top">
    <nav class="w-full flex flex-wrap items-center justify-between bg-transparent lg:text-lg pt-4 lg:pt-6 box">
        <!-- search -->
        <ul class="text-lg md:text-xl lg:flex">
            <li>
                <a class="inline-block hover:opacity-75" href="{{ url_for('search.search') }}"><i class="fas fa-search mr-2"></i>Search</a>
            </li>
        </ul>            
        <!-- toggle -->
        <div class="block lg:hidden">
            <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded hover:bg-blue-500 focus:outline-none">
                <svg class="fill-current h-4 md:h-5 w-4 md:w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
        <!-- nav bar -->
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-4 lg:pt-0" id="nav-content">
            <ul class="text-lg md:text-xl lg:flex justify-end flex-1 items-center text-right">
                <li>
                    <a class="inline-block hover:opacity-75" href="{{ url_for('app.home') }}">Home</a>
                </li>
                <li class="ml-6 xl:ml-12">
                    <a class="inline-block hover:opacity-75" href="{{ url_for('history.history') }}">History</a>
                </li>
                <li class="ml-6 xl:ml-12">
                    <a class="inline-block hover:opacity-75" href="{{ url_for('artist.artist') }}">Artist</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="ml-6 xl:ml-12">
                    <a class="inline-block hover:opacity-75" href="{{url_for('logout.logout')}}">Logout</a>
                </li>
                <li class="ml-6 xl:ml-12">
                    <a class="inline-block hover:opacity-75" href="{{url_for('user.user')}}">User</a>
                </li>
                {% else %}
                <li class="ml-6 xl:ml-12">
                    <a class="inline-block hover:opacity-75" href="{{url_for('signup.signup')}}">Sign up</a>
                </li>
                <li class="ml-6 xl:ml-12">
                    <a class="inline-block hover:opacity-75" href="{{url_for('login.login')}}">Login</a>
                </li>
                {% endif %}
                <li class="ml-6 xl:ml-12">
                    <a class="inline-block hover:opacity-75" href="{{ url_for('contact.contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

{% for album in albums %}
<div class="min-h-screen w-screen grid grid-cols-3 flex items-center py-0 lg:py-12" id="{{ album.name }}">
    <!-- album age -->
    <div class="h-full col-span-3 lg:col-span-1 flex items-center justify-center bg-contain bg-left bg-no-repeat py-10 lg:py-0 box" style="background-image: url(/static/image/record.png);">
        <div class="px-8 md:px-12 xl:pl-20 box">
            <h2 class="text-5xl lg:text-6xl 2xl:text-7xl font-bold">{{ album.age }}</h2>
            <p class="text-lg sm:text-xl md:text-2xl pt-3">{{ album.age_info }}</p>
        </div>
    </div>
    <!-- album info -->
    <div class="h-full col-span-3 lg:col-span-2 flex items-center box">
        <div class="grid grid-rows-6 px-8 md:px-12 xl:pr-20">
            <!-- title -->
            <div class="row-span-1 flex items-center box">
                <h3 class="text-2xl sm:text-4xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-semibold">0{{ loop.index }} - {{ album.name }} <span>{{ album.name_j }}</span></h3>
            </div>
            <!-- desc -->
            <div class="row-span-4 flex justify-center box">
                <div class="grid grid-cols-2 row-gap-5 lg:row-gap-0">
                    <div class="col-span-2 lg:col-span-1 flex items-center p-2 md:p-1 box">
                        <img src="{{ url_for('static', filename=album.album_picture_path) }}" alt="" class="w-full shadow-md">
                    </div>
                    <div class="col-span-2 lg:col-span-1 flex items-center box">
                        <div class="py-1 md:py-0 px-4 xl:px-8 mt-4 lg:mt-0 box">
                            <h4 class="text-2xl xl:text-3xl 2xl:text-4xl"><i class="fas fa-compact-disc mr-2"></i>{{ album.year }}</h4>
                            <h4 class="text-2xl xl:text-3xl 2xl:text-4xl py-1 lg:py-2">{{ album.title }} <span>{{ album.title_j }}</span></h4>
                            <p class="text-base 2xl:text-xl py-1 lg:py-3">
                                {{ album.info }}
                            </p>

                            {% if current_user.is_authenticated %}
                            <form method="POST" class="mt-2">
                                {{ form.csrf_token }}
                                {{ form.from_user_id(value=current_user.id) }}
                                {{ form.to_album_id(value=album.id) }}

                                {% set isLiked = {'isLiked':False} %}
                                {% for like_album in like_albums %}
                                    {% if like_album.from_user_id == current_user.id and like_album.to_album_id == album.id %}
                                    <h5 class="text-base xl:text-xl">
                                        {{ form.submit(value="♥ Liked",　class="bg-pink-400 hover:bg-transparent border-2 border-transparent hover:border-white py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow hover:shadow-none focus:outline-none focus:bg-black focus:bg-opacity-5 cursor-pointer") }}
                                    </h5>                                    
                                    {% if isLiked.update({'isLiked':True}) %}{% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if not isLiked.isLiked %}  
                                    <h5 class="text-base xl:text-xl">
                                        {{ form.submit(class="bg-transparent border-2 border-white hover:bg-pink-400 hover:border-transparent py-1 sm:py-2 px-2 sm:px-4 rounded-full hover:shadow focus:outline-none focus:bg-pink-500 focus:shadow-inner cursor-pointer") }}
                                    </h5>
                                {% endif %}
                            </form>
                            {% else %}
                            <h5 class="text-base xl:text-xl">
                                <a href="{{ url_for('signup.signup') }}">
                                    <button class="bg-blue-400 hover:bg-blue-500 py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow focus:outline-none">
                                        ♡ You can save your favorites after you sign up!
                                    </button>
                                </a>
                            </h5>
                            {% endif %}
                        </div>
                    </div>       
                </div>
            </div>
            <!-- member -->
            <div class="row-span-1 flex items-center box">
                <img class="w-24 sm:w-28 rounded-full mx-1 sm:mx-2 xl:mx-4 border-solid border-2 border-blue-500 shadow" src="{{ url_for('static', filename=album.artist_picture_path) }}" alt="">
                <div class="flex flex-wrap">
                    {% for artist in artists %}
                        {% if album.id == artist.from_album_id %}
                        <a href="{{ url_for('artist.artist', _anchor=artist.name) }}">
                            <button class="bg-blue-400 hover:bg-blue-500 font-semibold my-1 ml-4 py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow focus:outline-none text-sm xl:text-lg">
                                # {{ artist.name }}
                            </button>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}