{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

{% block header2 %}
{{ super() }}
{% endblock %}

{% for album in albums %}
<div class="albums-style" id="{{ album.name }}">
    <!-- album age -->
    <div class="album-bg-style" style="background-image: url(/static/image/record.png);">
        <div class="px-8 md:px-12 xl:pl-20">
            <h2>{{ album.age }}</h2>
            <p class="mt-4">{{ album.age_info }}</p>
        </div>
    </div>
    <!-- album info -->
    <div class="album-style">
        <div class="grid grid-rows-6 px-8 md:px-12 xl:pr-20">
            <!-- title -->
            <div class="row-span-1 flex flex-wrap items-center">
                <h3 class="font-semibold">
                    0{{ loop.index }} - {{ album.name }} <small>{{ album.name_j }}</small>
                </h3>
            </div>
            <!-- desc -->
            <div class="row-span-4 flex justify-center box">
                <div class="grid grid-cols-2 gap-5 lg:gap-0">
                    <div class="col-span-2 lg:col-span-1 flex items-center p-2 md:p-1 box">
                        <img src="{{ url_for('static', filename=album.album_picture_path) }}" alt="" class="w-full shadow-md">
                    </div>
                    <div class="col-span-2 lg:col-span-1 flex items-center box">
                        <div class="py-1 md:py-0 px-4 xl:px-8 mt-4 lg:mt-0 box">
                            <h4>
                                <i class="fas fa-compact-disc mr-2"></i>{{ album.year }} {{ album.title }}
                            </h4>
                            <h4 class="mt-0 sm:mt-2">
                                <small>{{ album.title_j }}</small>
                            </h4>
                            <p class="mt-0 sm:mt-2">
                                {{ album.info }}
                            </p>

                            {% if current_user.is_authenticated %}
                            <form method="POST" class="mt-2">
                                {{ form.csrf_token }}
                                {{ form.from_user_id(value=current_user.id) }}
                                {{ form.to_album_id(value=album.id) }}

                                {% set isLiked = {'isLiked':False} %}
                                {% for like_album in like_albums %}
                                    {% if like_album.from_user_id == current_user.id and like_album.to_album_id == album.id %}
                                    <p>
                                        {{ form.submit(value="♥ Liked",　class="btn-pink") }}
                                    </p>                                    
                                    {% if isLiked.update({'isLiked':True}) %}{% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if not isLiked.isLiked %}  
                                    <p>
                                        {{ form.submit(class="btn-transparent") }}
                                    </p>
                                {% endif %}
                            </form>
                            {% else %}
                            <p class="mt-2 sm:mt-4">
                                <a href="{{ url_for('signup.signup') }}">
                                    <button class="btn-blue">
                                        ♡ You can save your favs after you sign up!
                                    </button>
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </div>       
                </div>
            </div>
            <!-- member -->
            <div class="row-span-1 flex items-center box">
                <img class="w-24 sm:w-28 icon-style mx-1 sm:mx-2 xl:mx-4" src="{{ url_for('static', filename=album.artist_picture_path) }}" alt="">
                <div class="flex flex-wrap">
                    {% for artist in artists %}
                        {% if album.id == artist.from_album_id %}
                        <p>
                            <a href="{{ url_for('artist.artist', _anchor=artist.name) }}">
                                <button class="btn-blue font-semibold my-1 ml-4 px-4">
                                    # {{ artist.name }}
                                </button>
                            </a>
                        </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}