{% extends "/base.html" %}
{% block content %}
{% for album in albums %}

<div class="min-h-screen w-screen grid grid-cols-3 flex items-center pt-20 lg:pt-0">
    <!-- album age -->
    <div class="h-full col-span-3 lg:col-span-1 flex items-center justify-center bg-contain bg-left bg-no-repeat py-10 lg:py-0 box" style="background-image: url(/static/image/record.png);">
        <div class="p-4 lg:p-10 box">
            <h2 class="text-5xl lg:text-6xl 2xl:text-7xl font-bold">{{ album.age }}</h2>
            <p class="text-lg xl:text-xl pt-3">{{ album.age_info }}</p>
        </div>
    </div>
    <!-- album info -->
    <div class="h-full col-span-3 lg:col-span-2 flex items-center box">
        <div class="grid grid-rows-6 p-4">
            <!-- title -->
            <div class="row-span-1 flex items-center box">
                <h3 class="text-2xl sm:text-4xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-semibold">0{{ album.id }} - {{ album.name }} <span>{{ album.name_j }}</span></h3>
            </div>
            <!-- desc -->
            <div class="row-span-4 flex justify-center box">
                <div class="grid grid-cols-2 row-gap-5 lg:row-gap-0">
                    <div class="col-span-2 lg:col-span-1 flex items-center p-1 box">
                        <img src="{{ url_for('static', filename=album.album_picture_path) }}" alt="" class="w-full shadow-md">
                    </div>
                    <div class="col-span-2 lg:col-span-1 flex items-center box">
                        <div class="py-1 md:py-0 px-4 xl:px-8 box">
                            <h4 class="text-2xl xl:text-3xl 2xl:text-4xl"><i class="fas fa-compact-disc mr-2"></i>{{ album.year }}</h4>
                            <h4 class="text-2xl xl:text-3xl 2xl:text-4xl py-1 lg:py-2">{{ album.title }} <span>{{ album.title_j }}</span></h4>
                            <p class="text-base 2xl:text-xl py-1 lg:py-3">
                                {{ album.info }}
                            </p>
                            <a href="">
                                <h5 class="text-lg xl:text-xl hover:text-pink-500 animate-pulse pt-2">
                                    <i class="fas fa-heart mr-2"></i>Like
                                </h5>
                            </a>
                        </div>
                    </div>       
                </div>
            </div>
            <!-- member -->
            <div class="row-span-1 flex items-center box">
                <img class="w-24 sm:w-28 rounded-full mx-1 sm:mx-2 xl:mx-4 border-solid border-2 border-blue-500 shadow" src="{{ url_for('static', filename=album.artist_picture_path) }}" alt="">
                <div class="flex flex-wrap">

                    {% for artist in artists %}
                    <a href="{{ url_for('artist.artist', _anchor=artist.name) }}">
                        <button class="bg-blue-400 hover:bg-blue-500 font-semibold my-1 ml-4 py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow focus:outline-none text-sm xl:text-lg">
                            # {{ artist.name }}
                        </button>
                    </a>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}