@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    background: linear-gradient(to bottom right, #3dbaf4 0%, #ff93cd 100%);
}
 
body:after {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    content: "";
    background: linear-gradient(to bottom right, #3dbaf4 0%, #ff93cd 100%);
    z-index: -1;
}

/* .box {
    background-color: rgba(255, 255, 255, 0);
    border: #fc5e55 1px solid;
    z-index: 100;
} */


h1 {
    font-family: 'Codystar', cursive;
}

h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

span {
    font-size: 60%;
    font-weight: normal;
}
