@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

/**
Add the correct font weight in Edge and Safari.
*/

b {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

/**
Restore the focus styles unset by the previous rule.
*/

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */


dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
iframe {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #3dbaf4;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(61, 186, 244, 0));
  --tw-gradient-to: #ff93cd;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

body::after {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #3dbaf4;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(61, 186, 244, 0));
  --tw-gradient-to: #ff93cd;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}

h1 {
  font-family: Codystar, cursive;
  font-weight: 900;
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

h2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
}

@media (min-width: 1024px){
  h2{
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1536px){
  h2{
    font-size: 4.5rem;
    line-height: 1;
  }
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px){
  h3{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 768px){
  h3{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px){
  h3{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1280px){
  h3{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1536px){
  h3{
    font-size: 3rem;
    line-height: 1;
  }
}

h4 {
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px){
  h4{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1536px){
  h4{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

h5 {
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px){
  h5{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1536px){
  h5{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

h6 {
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px){
  h6{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1536px){
  h6{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px){
  p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1536px){
  p{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

small {
  font-weight: 400;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

@media (min-width: 1024px){
  nav{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

ul {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 768px){
  ul{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px){
  ul{
    display: flex;
  }
}

/* base.html */

.header-style {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px){
  .header-style{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1280px){
  .header-style{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.nav-bar-style {
  display: none;
  flex-grow: 1;
  margin-top: 0.5rem;
  width: 100%;
}

@media (min-width: 1024px){
  .nav-bar-style{
    display: flex;
    align-items: center;
    margin-top: 0px;
    width: auto;
  }
}

.nav-ul-style {
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 0%;
  text-align: right;
}

.svg-style {
  height: 1rem;
  fill: currentColor;
  width: 1rem;
}

@media (min-width: 768px){
  .svg-style{
    height: 1.25rem;
    width: 1.25rem;
  }
}

.menu-ml {
  margin-left: 1.5rem;
}

@media (min-width: 1280px){
  .menu-ml{
    margin-left: 3rem;
  }
}

.menu-block {
  display: inline-block;
}

.menu-block:hover{
  opacity: 0.75;
}

.btn-toggle {
  background-color: transparent;
}

.btn-toggle:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}

.btn-toggle{
  border-radius: 0.25rem;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.btn-toggle:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-toggle{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/* history.html */

.albums-style {
  display: grid;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100vw;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (min-width: 1024px){
  .albums-style{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.album-style {
  display: flex;
  align-items: center;
  height: 100%;
  grid-column: span 3 / span 3;
}

@media (min-width: 1024px){
  .album-style{
    grid-column: span 2 / span 2;
  }
}

.album-bg-style {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  grid-column: span 3 / span 3;
}

@media (min-width: 1024px){
  .album-bg-style{
    padding-top: 0px;
    padding-bottom: 0px;
    grid-column: span 1 / span 1;
  }
}

.album-grid-row {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

@media (min-width: 768px){
  .album-grid-row{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1280px){
  .album-grid-row{
    padding-right: 5rem;
  }
}

.album-row-1 {
  display: flex;
  align-items: center;
  grid-row: span 1 / span 1;
}

.album-row-4 {
  display: flex;
  justify-content: center;
  grid-row: span 4 / span 4;
}

.album-grid-col {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1024px){
  .album-grid-col{
    gap: 0px;
  }
}

.album-col-2 {
  display: flex;
  align-items: center;
  grid-column: span 2 / span 2;
}

@media (min-width: 1024px){
  .album-col-2{
    grid-column: span 1 / span 1;
  }
}

.album-title {
  margin-top: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px){
  .album-title{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 1024px){
  .album-title{
    margin-top: 0px;
  }
}

@media (min-width: 1280px){
  .album-title{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.album-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 6rem;
}

@media (min-width: 640px){
  .album-icon{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 7rem;
  }
}

@media (min-width: 1280px){
  .album-icon{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* artist.html */

.artists-style {
  display: grid;
  min-height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100vw;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 768px){
  .artists-style{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px){
  .artists-style{
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1280px){
  .artists-style{
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.artist-style {
  --tw-border-opacity: 1;
  border-color: rgba(147, 197, 253, var(--tw-border-opacity));
  border-radius: 0.5rem;
  border-top-width: 2px;
  height: 100vh;
  padding: 1rem;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
  grid-column: span 2 / span 2;
}

@media (min-width: 640px){
  .artist-style{
    padding: 1.5rem;
  }
}

@media (min-width: 1024px){
  .artist-style{
    height: 100%;
    grid-column: span 1 / span 1;
  }
}

.artist-grid-col-5 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.artist-grid-col-9 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.artist-col-1 {
  display: flex;
  align-items: center;
  height: 100%;
  grid-column: span 1 / span 1;
}

.artist-col-2 {
  display: flex;
  align-items: center;
  height: 100%;
  grid-column: span 2 / span 2;
}

@media (min-width: 640px){
  .artist-col-2{
    grid-column: span 1 / span 1;
  }
}

.artist-col-4 {
  display: flex;
  align-items: center;
  height: 100%;
  grid-column: span 4 / span 4;
}

.artist-col-7 {
  display: flex;
  align-items: center;
  height: 100%;
  grid-column: span 7 / span 7;
}

@media (min-width: 640px){
  .artist-col-7{
    grid-column: span 8 / span 8;
  }
}

.artist-col-8 {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  grid-column: span 8 / span 8;
}

@media (min-width: 640px){
  .artist-col-8{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1536px){
  .artist-col-8{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.artist-col-9 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.artist-h-20 {
  display: flex;
  align-items: center;
  height: 20%;
}

.artist-h-40 {
  display: flex;
  align-items: center;
  height: 40%;
}

.song-style {
  display: flex;
  align-items: center;
  height: 40%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 640px){
  .song-style{
    height: 20%;
  }
}

@media (min-width: 1024px){
  .song-style{
    height: 40%;
  }
}

@media (min-width: 1280px){
  .song-style{
    height: 20%;
  }
}

.youtube {
  border-radius: 0.5rem;
  height: 100%;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
}

.youtube-style {
  display: flex;
  align-items: center;
  height: 40%;
  margin-top: 0px;
}

@media (min-width: 640px){
  .youtube-style{
    height: 60%;
  }
}

@media (min-width: 768px){
  .youtube-style{
    margin-top: 2rem;
  }
}

@media (min-width: 1024px){
  .youtube-style{
    height: 40%;
    padding: 0.5rem;
  }
}

@media (min-width: 1280px){
  .youtube-style{
    height: 60%;
  }
}

.comment-style {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  height: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(96, 165, 250, var(--tw-text-opacity));
  width: 100%;
}

@media (min-width: 640px){
  .comment-style{
    height: 83.333333%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1536px){
  .comment-style{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.add-comment-style {
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  width: 100%;
}

.add-comment-form {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
}

@media (min-width: 640px){
  .add-comment-form{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 1536px){
  .add-comment-form{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* user.html */

.user-style {
  height: 83.333333%;
  overflow: scroll;
  width: 80%;
}

@media (min-width: 1280px){
  .user-style{
    width: 50%;
  }
}

.wrap-style > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.wrap-style{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.user-form {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

@media (min-width: 640px){
  .user-form{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px){
  .user-form{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.icon-size {
  width: 33.333333%;
}

@media (min-width: 768px){
  .icon-size{
    width: 25%;
  }
}

@media (min-width: 1024px){
  .icon-size{
    width: 16.666667%;
  }
}

.img-size {
  width: 100%;
}

@media (min-width: 768px){
  .img-size{
    width: 33.333333%;
  }
}

@media (min-width: 1024px){
  .img-size{
    width: 20%;
  }
}

/* search.html */

.wrap-full-style > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.wrap-full-style{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
}

@media (min-width: 1024px){
  .wrap-full-style{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.search-form {
  margin-top: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

@media (min-width: 640px){
  .search-form{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px){
  .search-form{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.search-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px){
  .search-wrap{
    flex-wrap: nowrap;
  }
}

.search-bar {
  padding-right: 0px;
  width: 100%;
}

@media (min-width: 768px){
  .search-bar{
    padding-right: 0.5rem;
  }
}

@media (min-width: 1024px){
  .search-bar{
    padding-right: 1rem;
  }
}

/* base components */

.base-style {
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  width: 100vw;
}

@media (min-width: 768px){
  .base-style{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 8rem;
  }
}

@media (min-width: 1280px){
  .base-style{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 9rem;
  }
}

.bg-style {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
}

.title {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

@media (min-width: 768px){
  .title{
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1024px){
  .title{
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 1280px){
  .title{
    font-size: 6rem;
    line-height: 1;
  }
}

@media (min-width: 1536px){
  .title{
    font-size: 8rem;
    line-height: 1;
  }
}

.subtitle {
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
}

@media (min-width: 1024px){
  .subtitle{
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 1536px){
  .subtitle{
    font-size: 6rem;
    line-height: 1;
  }
}

.sub-subtitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px){
  .sub-subtitle{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.white-style {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.4;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
}

@media (min-width: 1024px){
  .white-style{
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1536px){
  .white-style{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.form-style {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  width: 75%;
}

@media (min-width: 640px){
  .form-style{
    width: 66.666667%;
  }
}

.icon-style {
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 2px;
}

@media (min-width: 768px){
  .icon-style{
    border-width: 4px;
  }
}

.layout-2 {
  width: 80%;
}

@media (min-width: 1280px){
  .layout-2{
    width: 60%;
  }
}

@media (min-width: 1536px){
  .layout-2{
    width: 50%;
  }
}

.layout-3 {
  width: 80%;
}

@media (min-width: 1280px){
  .layout-3{
    width: 50%;
  }
}

@media (min-width: 1536px){
  .layout-3{
    width: 33.333333%;
  }
}

.btn-blue {
  --tw-bg-opacity: 1;
  background-color: rgba(96, 165, 250, var(--tw-bg-opacity));
}

.btn-blue:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}

.btn-blue{
  border-radius: 9999px;
}

.btn-blue:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-blue{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px){
  .btn-blue{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1280px){
  .btn-blue{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.btn-pink {
  --tw-bg-opacity: 1;
  background-color: rgba(244, 114, 182, var(--tw-bg-opacity));
}

.btn-pink:hover{
  background-color: transparent;
}

.btn-pink:focus{
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.05;
}

.btn-pink{
  border-color: transparent;
}

.btn-pink:hover{
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.btn-pink{
  border-radius: 9999px;
  border-width: 1px;
  cursor: pointer;
}

.btn-pink:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-pink{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-pink:hover{
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px){
  .btn-pink{
    border-width: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.btn-transparent {
  background-color: transparent;
}

.btn-transparent:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(244, 114, 182, var(--tw-bg-opacity));
}

.btn-transparent:focus{
  --tw-bg-opacity: 1;
  background-color: rgba(236, 72, 153, var(--tw-bg-opacity));
}

.btn-transparent{
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.btn-transparent:hover{
  border-color: transparent;
}

.btn-transparent{
  border-radius: 9999px;
  border-width: 1px;
  cursor: pointer;
}

.btn-transparent:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-transparent{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn-transparent:hover{
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-transparent:focus{
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px){
  .btn-transparent{
    border-width: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.input-form {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.7;
}

.input-form:hover{
  --tw-bg-opacity: 0.9;
}

.input-form{
  border-radius: 9999px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.25rem;
}

.input-form:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input-form{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  width: 100%;
}

@media (min-width: 640px){
  .input-form{
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.transform-scale {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform-scale:hover{
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.transform-scale{
  transition-timing-function: linear;
  transition-duration: 300ms;
}

.test {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.bg-purple-300{
  --tw-bg-opacity: 1;
  background-color: rgba(196, 181, 253, var(--tw-bg-opacity));
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.font-semibold{
  font-weight: 600;
}

.h-80{
  height: 20rem;
}

.h-1\/2{
  height: 50%;
}

.h-full{
  height: 100%;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-0{
  margin-top: 0px;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mt-4{
  margin-top: 1rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.ml-4{
  margin-left: 1rem;
}

.mt-8{
  margin-top: 2rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.overflow-scroll{
  overflow: scroll;
}

.p-0{
  padding: 0px;
}

.p-2{
  padding: 0.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.pr-0{
  padding-right: 0px;
}

.pl-2{
  padding-left: 0.5rem;
}

.pt-4{
  padding-top: 1rem;
}

.static{
  position: static;
}

*{
  --tw-shadow: 0 0 #0000;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

*{
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.text-center{
  text-align: center;
}

.w-1\/4{
  width: 25%;
}

.w-1\/5{
  width: 20%;
}

.w-full{
  width: 100%;
}

@-webkit-keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse{
  50%{
    opacity: .5;
  }
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

@-webkit-keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@media (min-width: 640px){

  .sm\:h-1\/3{
    height: 33.333333%;
  }

  .sm\:mt-2{
    margin-top: 0.5rem;
  }

  .sm\:mt-4{
    margin-top: 1rem;
  }

  .sm\:pl-4{
    padding-left: 1rem;
  }
}

@media (min-width: 768px){

  .md\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .md\:mt-0{
    margin-top: 0px;
  }

  .md\:mt-2{
    margin-top: 0.5rem;
  }

  .md\:p-1{
    padding: 0.25rem;
  }

  .md\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md\:pr-2{
    padding-right: 0.5rem;
  }
}

@media (min-width: 1024px){

  .lg\:hidden{
    display: none;
  }

  .lg\:mt-4{
    margin-top: 1rem;
  }

  .lg\:mt-8{
    margin-top: 2rem;
  }

  .lg\:mt-16{
    margin-top: 4rem;
  }

  .lg\:p-2{
    padding: 0.5rem;
  }

  .lg\:pt-6{
    padding-top: 1.5rem;
  }
}

@media (min-width: 1280px){

  .xl\:p-1{
    padding: 0.25rem;
  }

  .xl\:pl-20{
    padding-left: 5rem;
  }
}

@media (min-width: 1536px){

  .\32xl\:pl-8{
    padding-left: 2rem;
  }
}