{% extends "base.html" %}
{% block content %}
{% for album in album_list %}

<div class="h-screen w-screen grid grid-cols-3 flex items-center">
    <!-- album age -->
    <div class="col-span-3 md:col-span-1 h-full flex items-center justify-center bg-contain bg-left bg-no-repeat box" style="background-image: url(/static/image/record.png);">
        <div class="p-4 lg:p-10 box">
            <h2 class="text-4xl md:text-7xl font-bold">{{ album.age }}</h2>
            <p class="text-lg xl:text-xl pt-3">{{ album.intro }}</p>
        </div>
    </div>
    <!-- album info -->
    <div class="col-span-3 md:col-span-2 flex items-center box">
        <div class="grid grid-rows-6 p-4">
            <!-- title -->
            <div class="row-span-1 flex items-center box">
                <h3 class="text-2xl sm:text-4xl xl:text-6xl font-semibold">0{{ album.number }} - {{ album.name }} <span>{{ album.nameJ }}</span></h3>
            </div>
            <!-- desc -->
            <div class="row-span-4 flex justify-center box">
                <div class="grid grid-cols-2 row-gap-5 lg:row-gap-0">
                    <div class="col-span-2 lg:col-span-1 flex items-center p-1 box">
                        <img src="{{ url_for('static', filename=album.album_pic_path) }}" alt="" class="w-full shadow-md">
                    </div>
                    <div class="col-span-2 lg:col-span-1 flex items-center box">
                        <div class="px-4 xl:px-8 box">
                            <h4 class="text-3xl xl:text-4xl"><i class="fas fa-compact-disc mr-2"></i>{{ album.year }}</h4>
                            <h4 class="text-3xl xl:text-4xl py-2">{{ album.title }} <span>{{ album.titleJ }}</span></h4>
                            <p class="text-base xl:text-xl py-3">
                                {{ album.desc }}
                            </p>
                            <a href="">
                                <h5 class="text-lg xl:text-xl hover:text-pink-500 animate-pulse pt-2">
                                    <i class="fas fa-heart mr-2"></i>Like
                                </h5>
                            </a>
                        </div>
                    </div>       
                </div>
            </div>
            <!-- member -->
            <div class="row-span-1 flex items-center box">
                <img class="w-24 sm:w-28 rounded-full mx-1 sm:mx-2 lg:mx-4 border-solid border-2 border-blue-500 shadow" src="{{ url_for('static', filename=album.artist_pic_path) }}" alt="">
                <div class="flex flex-wrap">
                    <a href="{{ url_for('song', album_member1=album.member1) }}">
                        <button class="bg-blue-400 hover:bg-blue-500 font-semibold ml-4 py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow focus:outline-none text-sm xl:text-lg">
                            # {{ album.member1 }}
                        </button>
                    </a>
                    <a href="{{ url_for('song2', album_member2=album.member2) }}">
                        <button class="bg-blue-400 hover:bg-blue-500 font-semibold ml-4 py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow focus:outline-none text-sm xl:text-lg">
                            # {{ album.member2 }}
                        </button>
                    </a>
                    <a href="{{ url_for('song3', album_member3=album.member3) }}">
                        <button class="bg-blue-400 hover:bg-blue-500 font-semibold ml-4 py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow focus:outline-none text-sm xl:text-lg">
                            # {{ album.member3 }}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}