{% extends "base.html" %}
{% block content %}
{% for song in song_list %}

<div class="h-screen w-screen grid grid-cols-1 lg:grid-cols-2 flex items-center p-8 md:p-12 md:py-20 xl:p-20 gap-8 box">
    <!-- singer -->
    <div class="h-full col-span-1 shadow-2xl rounded-lg box border-t-2 border-blue-300 p-4 sm:p-6">
        <!-- singer name -->
        <div class="h-1/5 px-2 box flex items-center">
            <div class="grid grid-cols-5">
                <div class="col-span-1 box">
                    <img src="{{ url_for('static', filename=song.singer_pic_path) }}" class="w-full rounded-full border-solid border-4 border-blue-500">
                </div>
                <div class="col-span-4 flex items-center box">
                    <div class="pl-4 xl:pl-8 box">
                        <h3 class="text-2xl sm:text-4xl xl:text-5xl font-semibold">
                            {{ song.nameF }} {{ song.nameL }} <span>{{ song.nameJ }}</span>
                        </h3>            
                    </div>
                </div>       
            </div>
        </div>
        <!-- singer desc -->
        <div class="h-1/5 flex items-center px-2 box">
            <p class="text-lg xl:text-xl">
                {{ song.singer_desc }}
            </p>
        </div>
        <!-- comments -->
        <div class="h-2/5 flex items-center py-4 px-2 box">
            <div class="grid grid-rows-3 gap-0 sm:gap-3 lg:gap-0 xl:gap-3 box">
                <div class="row-span-1 px-2 box flex items-center">
                    <div class="flex">
                        <div class="w-1/12 flex items-center">
                            <img src="{{ url_for('static', filename=song.icon_pic_path) }}" class="rounded-full border-solid border-2 border-blue-500">
                        </div>
                        <div class="w-11/12 flex items-center ml-4 xl:ml-8 py-3 px-4 bg-blue-400 rounded shadow">
                            <div>
                                <p class="text-lg xl:text-xl font-semibold">
                                    <a href="#">Amy @helloAmy</a>
                                </p>
                                <p class="text-base 2xl:text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-span-1 px-2 box flex items-center">
                    <div class="flex">
                        <div class="w-1/12 flex items-center">
                            <img src="{{ url_for('static', filename=song.icon_pic_path) }}" class="rounded-full border-solid border-2 border-blue-500">
                        </div>
                        <div class="w-11/12 flex items-center ml-4 xl:ml-8 py-3 px-4 bg-blue-400 rounded shadow">
                            <div>
                                <p class="text-lg xl:text-xl font-semibold">
                                    <a href="#">Amy @helloAmy</a>
                                </p>
                                <p class="text-base 2xl:text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-span-1 px-2 box flex items-center">
                    <div class="flex">
                        <div class="w-1/12 flex items-center">
                            <img src="{{ url_for('static', filename=song.icon_pic_path) }}" class="rounded-full border-solid border-2 border-blue-500">
                        </div>
                        <div class="w-11/12 flex items-center ml-4 xl:ml-8 py-3 px-4 bg-blue-400 rounded shadow">
                            <div>
                                <p class="text-lg xl:text-xl font-semibold">
                                    <a href="#">Amy @helloAmy</a>
                                </p>
                                <p class="text-base 2xl:text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- links -->
        <div class="h-1/5 flex items-center px-2 box">
            <div class="flex flex-wrap">
                <a href="#">
                    <button class="bg-blue-400 hover:bg-blue-500 font-semibold m-1 py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow focus:outline-none text-sm xl:text-lg">
                        # {{ song.band }}
                    </button>
                </a>
                <a href="#">
                    <button class="bg-blue-400 hover:bg-blue-500 font-semibold m-1 py-1 sm:py-2 px-2 sm:px-4 rounded-full shadow focus:outline-none text-sm xl:text-lg">
                        # {{ song.words }}
                    </button>
                </a>
            </div>
        </div>
    </div>


    <!-- song -->
    <div class="h-full col-span-1 shadow-2xl rounded-lg box border-t-2 border-purple-300 p-4 sm:p-6">
        <!-- song title -->
        <div class="h-1/5 px-2 box flex items-center">
            <div class="grid grid-cols-5">
                <div class="col-span-1 box">
                    <img src="{{ url_for('static', filename=song.song_pic_path) }}" alt="" class="w-full shadow">
                </div>
                <div class="col-span-4 flex items-center box">
                    <div class="pl-4 xl:pl-8 box">
                        <h4 class="text-xl sm:text-3xl xl:text-4xl"><i class="fas fa-compact-disc mr-2"></i>{{ song.year }}</h4>
                        <h4 class="text-xl sm:text-3xl xl:text-4xl pt-2">{{ song.title }} <span>{{ song.titleJ }}</span></h4>
                        <p class="text-lg">
                            <i>Words by {{ song.words }}, Music by {{ song.music }}</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- song youtube -->
        <div class="h-3/5 flex items-center py-4 px-2 box">
            <iframe class="w-full h-full shadow rounded-lg" src="{{ song.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- song desc -->
        <div class="h-1/5 flex items-center px-2 box">
            <p class="text-lg xl:text-xl">
                {{ song.desc }}
            </p>
        </div>
    </div>

</div>

{% endfor %}
{% endblock %}