{% extends "base.html" %}
{% block content %}
<div class="h-screen w-screen p-8 md:p-10 xl:p-16 box sticky top-0">
    <div class="flex justify-center box">
        <h1 class="text-2xl text-center font-black box">\ THANK YOU /</h1>
    </div>
</div>


<!-- footer -->
<div class="h-screen w-screen box flex items-end" id="footer">
    <div class="h-full w-full bg-cover bg-center bg-no-repeat box flex items-end md:mt-5 sticky top-0" style="background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(130, 110, 210, 0.5)), url(img/neon.png);">
        <div class="p-8 text-xl text-center font-black box">
            <h3 class="py-2">&copy; 2020 <a href="https://ayumitanaka.net">Ayumi Tanaka</a></h3>
        </div>
    </div>
</div>
{% endblock %}