<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Japanese City Pop">
    <meta name="keywords" content="citypop, city pop, Tatsuro Yamashita, Mariya Takeuchi">
    <!-- ogp -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Japanese City Pop" />
	<meta property="og:description" content="Japanese City Pop 70s-80s" />
	<meta property="og:image" content="/static/image/ogp.png">
	<meta property="og:image:alt" content="home">
	<meta property="og:url" content="https://citypop.netlify.app/" />
	<meta property="og:site_name" content="Japanese City Pop" />
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="../static/css/base.css"> -->
    <link rel="stylesheet" href="/static/css/public/style.css">
    <!-- Tailwind -->
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
	<!-- Google font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Codystar&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Title -->
    <title>Japanese City Pop</title>
</head>

<body class="bg-purple-300">

    {% block content %}

    {% block header %}
    <header>
        <nav>
            <!-- search -->
            <ul>
                <li>
                    <a class="menu-block" href="{{ url_for('search.search') }}">
                        <i class="fas fa-search mr-2"></i>Search
                    </a>
                </li>
            </ul>            
            <!-- toggle -->
            <div class="block lg:hidden">
                <button id="nav-toggle" class="btn-toggle">
                    <svg class="svg-style" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                    </svg>
                </button>
            </div>
            <!-- nav bar -->
            <div class="nav-style hidden" id="nav-content">
                <ul class="nav-ul-style">
                    <li>
                        <a class="menu-block" href="{{ url_for('app.home') }}">Home</a>
                    </li>
                    <li class="menu-ml">
                        <a class="menu-block" href="{{ url_for('history.history') }}">History</a>
                    </li>
                    <li class="menu-ml">
                        <a class="menu-block" href="{{ url_for('artist.artist') }}">Artist</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="menu-ml">
                        <a class="menu-block" href="{{url_for('logout.logout')}}">Logout</a>
                    </li>
                    <li class="menu-ml">
                        <a class="menu-block" href="{{url_for('user.user')}}">User</a>
                    </li>
                    {% else %}
                    <li class="menu-ml">
                        <a class="menu-block" href="{{url_for('signup.signup')}}">Sign up</a>
                    </li>
                    <li class="menu-ml">
                        <a class="menu-block" href="{{url_for('login.login')}}">Login</a>
                    </li>
                    {% endif %}
                    <li class="menu-ml">
                        <a class="menu-block" href="{{ url_for('contact.contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}

    {% block bg %}
    <div class="bg-style" style="background-image: linear-gradient(135deg, rgba(255, 147, 205, 0.3), rgba(61, 186, 244, 0.3)), url(/static/image/neon5.jpeg)">
    {% endblock %}

    {% endblock %}

    <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.1/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/CSSRulePlugin.min.js"></script>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/4538f04da3.js" crossorigin="anonymous"></script>   
    <!-- javascript -->
    <script src="/static/js/index.js"></script>

</body>
</html>