{% extends "base.html" %}
{% block content %}

<!-- more -->
<div class="h-screen w-screen pt-8 md:pt-10 xl:pt-20 box sticky top-0">
    <div class="flex justify-center box">
        <h1 class="text-2xl text-center font-black box">scroll me</h1>
    </div>
</div>

<!-- footer -->
<div class="h-screen w-screen box flex items-end  pt-8 md:pt-10 xl:pt-20">
    <div class="h-full w-full justify-center items-end bg-cover bg-center bg-no-repeat box flex md:mt-5 sticky top-0" style="background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(130, 110, 210, 0.5)), url(/static/image/neon.png);">
        <div class="text-center">
            <h1 class="text-4xl font-black mb-8 box">\ THANK YOU /</h1>
            <h1 class="text-2xl font-black mb-4">feel free to contact me</h1>
            <h1 class="text-2xl font-black mb-8">&copy; 2020 <a href="https://ayumitanaka.net">Ayumi Tanaka</a></h1>
        </div>
    </div>
</div>
{% endblock %}