{% extends "base.html" %}
{% block content %}

<!-- top -->
<div class="h-screen w-screen p-8 md:p-12 xl:p-20 md:py-20 pt-20 lg:pt-0 box" id="top">
    <div class="h-full w-full flex flex-wrap items-center justify-center bg-cover bg-center bg-no-repeat shadow-lg rounded-lg" style="background-image: linear-gradient(135deg, rgba(255, 147, 205, 0.3), rgba(61, 186, 244, 0.3)), url(/static/image/neon5.jpeg)">
        <h1 class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl text-center font-black box animate-pulse">JAPANESE CITY POP</h1>
    </div>
</div>

<!-- select -->
<!-- <div class="h-screen w-screen grid grid-cols-2 p-8 md:p-12 md:py-20 xl:p-20 gap-8 box" id="select">
    <div class="col-span-2 lg:col-span-1 flex items-center justify-center shadow-2xl rounded-lg box">
        <h1 class="text-6xl lg:text-7xl xl:text-8xl text-center font-black box leading-normal">Album</h1>
    </div>
    <div class="col-span-2 lg:col-span-1 flex items-center justify-center shadow-2xl rounded-lg box">
        <h1 class="text-6xl lg:text-7xl xl:text-8xl text-center font-black box leading-normal">Song</h1>
    </div>
</div> -->
{% endblock %}