{% from "/_formhelpers.html" import render_field %}
{% extends "/base.html" %}
{% block content %}

<div class="base-style">
    {% block header %}
    {{ super() }}
    {% endblock %}
    <div class="bg-style" style="background-image: linear-gradient(135deg, rgba(255, 147, 205, 0.3), rgba(61, 186, 244, 0.3)), url(/static/image/neon5.jpeg)">
        <div class="w-4/5 xl:w-1/2">
            <h1 class="subtitle">Search</h1>
            <form method="POST" class="w-full mt-12 px-6 sm:px-8 md:px-16">
                {{form.csrf_token}}
                <div class="flex flex-wrap md:flex-nowrap justify-center">
                    <h6 class="w-full pr-0 md:pr-2 lg:pr-4">
                        {{render_field(form.keyword, class="h-full input-form mt-0", placeholder="Let's find your city pop!")}}
                    </h6>
                    <h6 class="mt-4 md:mt-0">
                        {{form.submit(class="btn-blue")}}
                    </h6>
                </div>
            </form>
                    
            {% if not form.keyword.data %}
            {% else %}
            <div class="white-style">
                <div class="w-full h-80 overflow-scroll">
                    <div class="wrap-full-style">
                    {% set isMatched = {'isMatched':False} %}

                    {% for album in albums %}
                        {% if form.keyword.data.lower() in album.name.lower() or form.keyword.data.lower() in album.title.lower() %}
                        <div class="w-1/5 my-4">
                            <a href="{{ url_for('history.history', _anchor=album.name) }}">
                                <img src="{{ url_for('static', filename=album.album_picture_path) }}" class="transform-scale shadow-lg">
                            </a>
                            <p class="mt-4"><b>{{ album.name }}</b></p>
                            <p class="mt-2">{{ album.title }}</p>
                        </div>
                        {% if isMatched.update({'isMatched':True}) %}{% endif %}
                        {% endif %}
                    {% endfor %}

                    {% for artist in artists %}
                        {% if form.keyword.data.lower() in artist.name.lower() or form.keyword.data.lower() in artist.title.lower() %}
                        <div class="w-1/5 my-4">
                            <a href="{{ url_for('artist.artist', _anchor=artist.name) }}">
                                <img src="{{ url_for('static', filename=artist.song_picture_path) }}" class="transform-scale shadow-lg">
                            </a>
                            <p class="mt-4"><b>{{ artist.name }}</b></p>
                            <p class="mt-2">{{ artist.title }}</p>
                        </div>
                        {% if isMatched.update({'isMatched':True}) %}{% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if not isMatched.isMatched %}
                        <h6 class="text-center">We couldn't find a match for "{{ form.keyword.data }}". Please try another Search.</h6>
                        <div class="flex justify-center">
                            <img src="/static/image/dance.png" class="w-1/4" alt="dance">
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}